@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    background: #FFF0F5;
    background: linear-gradient(to bottom, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* buttons */
.btn {
    border-radius: 0px;
    margin-bottom: 15px;
    font-size: 20px;
}

/* navbar */
.navbar {
    height: 70px;
    font-size: 25px;
}

.navbar-brand {
    font-size: 30px;
}

/* logo & hero */
.logo {
    font-size: 190px;
    margin-top: 0px;
}

.hero {
    height: 600px;
    text-align: center;
    margin-bottom: 25px;
    background: url("https://res.cloudinary.com/magazine-blog/image/upload/f_auto/v1672574161/static/img/hero/hero.26930ba73ffe.jpg") no-repeat center center;

}

/* footer */
.card {
    background-color: unset !important;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.social-media-container li a {
    color: #000;
    font-size: 30px;
}

/* all forms */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 700px;
    margin: 50px;
}

.form {
    width: 700px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.form input,
textarea {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 700px;
}

.form-group {
    margin: 20px auto;
}

.input-area {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
}

.form-control {
    background-color: transparent;
}

/* home post */
.blog-post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-transform: capitalize;
    margin: 0px;
}

.post-container {
    margin: 0px;
    position: relative;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
    transition: .2s;
    max-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-image-link {
    text-decoration: none;
    color: #000;
}

.post-image {
    width: 30vw;
    height: 600px;
    border-radius: 10px;
}

/* post detail page */
.post-detail-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 755px;
    border: 3px solid #000;
}

.post-image-detail {
    width: 750px;
    max-height: 1000px;
}

.post-text-container {
    text-align: center;
}

.post-text-container h2,
h3,
span {
    text-transform: capitalize;
}

.login-to-comment-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-to-comment {
    display: flex;
}

/* comment section */
.comment-count {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.badge {
    color: #000 !important;
    font-size: 20px;
    font-weight: 300;
}

.user-comment-container {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-title {
    font-weight: 300;
}

.user-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 500px;
    border: 1px solid;
    border-radius: 3px;
    height: fit-content;
    margin: 20px;
    text-transform: capitalize;
    padding: 3px;
}

.comment-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.comment-text {
    font-size: 13px;
    width: 100%;
}

.comment-profile-image {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
    border: 1ps solid;
}

.comment-image-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.comment-user-created {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    padding-top: 2px;
}

.comment-created {
    font-size: 80%;
    font-weight: 400;
}

.comment-delete-button {
    margin-bottom: 0px;
}

/* profile page */
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.profile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.title-container {
    text-align: center;
    position: relative;
    top: 40px;
}

.profile-bio {
    width: 400px;
}

/* Admin and staff page */
.admin-container {
    font-family: 'Montserrat', sans-serif;
    height: 700px;
}

.admin-dropdown {
    height: 300px;
    overflow: auto;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.info-card-container {
    width: 31vw;
    height: 100px;
    background-color: #212529;
    color: #fff;
    padding: 5px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.info-card-number {
    font-size: 40px;
    margin: unset !important;
    line-height: 1;
}

.fa-solid {
    font-size: 35px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    width: 20%;
}

.admin-post-information-button {
    width: 95vw;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 404 */

.error-container {
    height: 600px;

}

.error-number {
    font-size: 200px;
    margin-top: 0;
}

.error-text {
    margin-top: 0;
}

@media screen and (max-width: 991px) {
    .logo {
        font-size: 150px;
    }

    .navbar {
        font-size: 30px;
        padding: 0;
    }

    .navbar-nav {
        background: #FFF0F5;
        padding-left: 10px;
        z-index: 2;
        position: relative;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .container-fluid {
        padding: 0;
    }

    .navbar-brand {
        font-size: 30px;
        padding-left: 10px;
    }

    /* post detail */
    .post-detail-container {
       max-width: 70%
    }
    .post-image-detail {
       width: 100%;
    }
    /* forms */
    .form, form {
        width: 80vw;
    }

    .form input,
    textarea {
        width: 80vw;
    }

    /* profile page */

    .profile-image {
        width: 30vw;
        height: 30vw;
    }
    .profile-bio {
        width: 30vw;
        line-height: 1.3;
    }
}

@media screen and (max-width: 821px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;
    }

    .hero {
        max-width: 820px;
        height: 400px;
    }

    .logo {
        font-size: 140px;
    }


    .delete-button {
        font-size: 12px;
    }

    /* admin page */
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        width: 10%;
    }

    /* post_detail page, home page posts and blog page posts */
    .post-text-container {
        padding: 5px;
    }

    .blog-post-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    .author-created {
        margin-top: 0;
        font-size: 16px;
    }

    .post-container {
        margin: 10px;
        color: #000;
    }

    .post-title {
        font-size: 20px;
        font-weight: 700;
    }

    .title-description-container h3 {
        font-size: 18px;
    }

    .post-image {
        height: 500px;
    }

    .title-description-container {
        max-width: 400px;
    }

    /* profile page */
    .title-container {
        position: unset;
        top: unset;
    }

    /* Admin page */
    .info-card-container {
        width: 31vw;
    }

    .info-card-title {
        font-size: 60%;
    }

    .info-card-number {
        font-size: 25px;
    }

    .fa-solid {
        font-size: 20px;
    }

    .table {
        font-size: 59%;
    }

    .admin-post-information-button {
        font-size: 90%;
    }

    .admin-title-button {
        font-size: 90%;
    }

    .delete-button {
        font-size: 90%;
    }
}

@media screen and (max-width: 770px) {

    /* post_detail page, home page posts and blog page posts */
    .logo {
        font-size: 50px;
    }

    .blog-post-container {
        width: 100vw;
    }

    .post-image {
        width: 40vw;
    }

    .post-container {
        height: unset;
    }



    /* admin page */
    td {
        padding: 2px !important;
    }

    .admin-post-button {
        margin-bottom: 0px;
        font-size: 12px;
        padding: 3px;
    }
}

@media screen and (max-width: 390px) {
    .logo {
        font-size: 50px;
    }

    .btn {
        margin-bottom: 0px;
        font-size: 12px;
        padding: 5px;
    }

    .blog-post-container {
        width: 100%;
        flex-direction: column;
    }

    .post-container {
        margin: 0;
    }

    .post-image {
        width: 90%;
    }

    .admin-post-button,
    .delete-button {
        width: 60px;
        font-size: 10px;
        padding: 2px;
    }

    .info-card-container {
        width: 250px;
        height: 80px;
        margin: 10px;
    }

    .info-container {
        flex-direction: column;
        height: fit-content;
    }
    /* post detail */

    .post-buttons {
        margin-bottom: 5px!important;
    }

}

@media screen and (max-width: 376px) {
    .hero {
        background: url("https://res.cloudinary.com/magazine-blog/image/upload/f_auto/v1672830657/static/img/hero/hero-max-width-375px.8e594e7e8837.jpg") no-repeat center center;
    }

    .navbar-nav {
        font-size: 40px;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0;
    }

    .logo {
        font-size: 50px;
    }

    .hero {
        max-width: 375px;
        height: 300px;
    }


    /* home page posts and blog page posts */
    .blog-post-container {
        width: 375px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .post-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .post-image-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post-image {
        width: 300px;
    }

    .post-title {
        margin: 0px;
        padding: 5px;
    }

    .post-body {
        width: 300px;
    }

    /* form */
    form {
        width: 300px;
    }

    .form {
        width: 300px;
    }

    .form input,
    textarea {
        width: 300px;
    }

    /* profile page */
    .profile-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .profile-bio {
        text-align: center;
        width: 300px;
    }

    .profile-image {
        width: 250px;
        height: 250px;
    }

    /* post detail */
    .post-detail-container {
        max-width: 355px;
    }

    .post-image-detail {
        width: 350px;
    }

    .post-detail-image {
        width: 350px;
    }


    /* comment section */
    .comment-profile-image {
        width: 50px;
        height: 50px;
    }

    .user-comment {
        width: 350px;
    }

    .comment-image-name {
        font-size: 12px;
        width: 100%;
        justify-content: start;
    }

    .comment-text {
        font-size: 10px;
        width: 90%;
        margin-bottom: 2px;
    }

    .comment-delete-button {
        margin-bottom: 0;
        font-size: 10px;
    }

    /* footer */
    .social-media-container {
        margin: 0px;
        padding: 0px;
        height: 100px;
    }

    .card-footer {
        font-size: 80%;
    }

    /* 404 */
    .error-container {
        height: 500px;

    }
}