@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


body {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    background: #FFF0F5;
    background: -moz-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: -webkit-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: linear-gradient(to bottom, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* buttons */
.btn {
    border-radius: 0px;
    margin-bottom: 15px;
    font-size: 20px;
}

/* navbar */
.navbar {
    height: 70px;
    font-size: 25px;
}

.navbar-brand {
    font-size: 30px;
}

/* logo & hero */
.logo {
    font-size: 200px;
    margin-top: 0px;
}

.hero {
    height: 600px;
    text-align: center;

}

/* footer */

footer {}

.card {
    background-color: unset !important;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.social-media-container li a {
    color: #000;
    font-size: 30px;
}

/* home post */

.blog-post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-transform: capitalize;
    margin: 0px;
}

.post-container {
    margin: 0px;
    position: relative;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
    transition: .2s;
    max-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-image-link {
    text-decoration: none;
    color: #000;
}

.post-image {
    width: 30vw;
    height: 600px;
    border-radius: 10px;
}

.author-created {}

.title-description-container {}

.post-title {}

/* signup form */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 700px;
    margin: 50px;
}

.form {
    width: 700px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.form input,
textarea {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 700px;
}

.form-group {
    margin: 20px auto;
}


.input-area {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
}

.form-control {
    background-color: transparent;
}

/* delete button and cancel button */
.button-container {}

/* profile page */

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.profile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.default-profile-image {}


/* post detail page */
.post-detail-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 755px;
    border: 3px solid #000;
}

.post-detail-image {}

.post-image-detail {
    width: 750px;
    max-height: 1000px;
}

.post-text-container {
    text-align: center;
}

.post-text-container h2,
h3,
span {
    text-transform: capitalize;
}

.login-to-comment-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-to-comment {
    display: flex;
}

/* comment section */
.comment-count {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.badge {
    color: #000 !important;
    font-size: 20px;
}

.user-comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 500px;
    border: 3px solid;
    border-radius: 10px;
    height: fit-content;
    margin: 20px;
    text-transform: capitalize;
    padding: 3px;
}

.comment-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: baseline;

}

.comment-text {
    font-size: 15px;
    margin: 0;
}

.comment-profile-image {
    width: 100px;
    height: 100px;
    margin: 5px;

}

.comment-image-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.comment-user-created {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.comment-created {
    font-size: 80%;
}

.muted {}


/* Admin and staff page */
.admin-dropdown {
    height: 300px;
    overflow: auto;
}

.admin-footer {}

.admin-container {
    height: 700px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.info-card-container {
    width: 300px;
    height: 100px;
    background-color: #212529;
    color: #fff;
    padding: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.info-card {}

.info-card-number {
    font-size: 40px;
    margin: unset !important;
    line-height: 1;
}

.info-card-title {}

.staff-container {}

.fa-solid {
    font-size: 35px;
}

/* post information */

.admin-post-information-button {
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table {}

@media screen and (max-width: 821px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        padding: 0;
        height: 60px;
    }

    .navbar-nav {
        background: #FFF0F5;
        padding-left: 10px;
        z-index: 2;
        position: relative;
    }

    .container-fluid {
        padding: 0;
    }

    .navbar-brand {
        font-size: 30px;
        padding-left: 10px;
    }

    .hero {
        max-width: 820px;
        height: 400px;
    }

    .logo {
        font-size: 150px;
    }

    .blog-post-container {
        width: 820px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    .author-created {
        margin-top: 0;
        font-size: 16px;
    }

    .post-container {
        margin: 10px;
        color: #000;

    }

    .post-title {
        font-size: 20px;
        font-weight: 700;
    }

    .title-description-container h3 {
        font-size: 18px;
    }

    .post-image {
        height: 500px;
    }

    .title-description-container {
        max-width: 400px;
    }

    .post-body {}

    /* profile page */
    .title-container {
        text-align: center;
    }

    /* post_detail */
    .post-text-container {

        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .blog-post-container {
        width: 767px;
    }

    .post-container {
        height: unset;
    }

    .post-image {
        width: 200px;
    }
}

@media screen and (max-width: 375px) {
    .navbar-nav {
        font-size: 30px;
    }

    .logo {
        font-size: 50px;
    }

    .hero {
        max-width: 375px;
        height: 300px;

    }

    .blog-post-container {
        width: 375px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .post-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .post-image-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post-image {
        width: 300px;
    }

    .post-title {
        margin: 0px;
        padding: 5px;
    }

    .post-body {
        width: 250px;
    }

    /* create post form */
    form {
        width: 300px;
    }

    .form {
        width: 300px;
    }

    .form input,
    textarea {
        width: 300px;
    }

    /* profile page */
    .profile-container {
        flex-direction: column;
    }

    .profile-image {
        width: 250px;
        height: 250px;
    }

    /* post detail */
    .post-detail-container {
        width: 355px;
    }

    .post-image-detail {
        width: 350px;
    }

    /* comment section */
    .comment-profile-image {
        width: 50px;
        height: 50px;

    }

    .user-comment {
        width: 300px;
        height: 100px;
        margin: 10px;
        padding: 0 5px;
    }

    .comment-image-name {
        font-size: 15px;
    }

    .comment-count {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
}