@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


body {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    background: #FFF0F5;
    background: -moz-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: -webkit-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: linear-gradient(to bottom, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* buttons */
.btn {
    border-radius: 0px;
    margin-bottom: 15px;
}


/* logo & hero */
.logo {
    font-size: 200px;
    margin-top: 0px;
}

.hero {
    background: url("/static/img/hero/hero.jpg") no-repeat center center;
    height: 600px;
    text-align: center;

}

/* footer */
.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.social-media-container li a {
    color: #000;
    font-size: 30px;
}

/* home post */

.blog-post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}

.post-container {
    margin: 20px;
    position: relative;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
    transition: .2s;
}

.post-image-link {
    text-decoration: none;
    color: #000;
}

.post-image {
    width: 400px;
    height: 600px;
}

.author-created {}

.title-description-container {}

.post-title {}

/* signup form */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 700px;
    margin: 50px;
}

.form-group {
    margin: 20px auto;
}

input {
    background-color: unset;
}

.input-area {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
}

.form-control {
    background-color: transparent;
}

.invalid-feedback {}

/* profile page */

.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.profile-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}