@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


body {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    background: #FFF0F5;
    background: -moz-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: -webkit-linear-gradient(top, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
    background: linear-gradient(to bottom, #FFF0F5 0%, #FFFFFF 50%, #FFF0F5 100%);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* buttons */
.btn {
    border-radius: 0px;
    margin-bottom: 15px;
}
/* navbar */
.navbar{
    height: 70px;
}

/* logo & hero */
.logo {
    font-size: 200px;
    margin-top: 0px;
}

.hero {
    background: url("/static/img/hero/hero.jpg") no-repeat center center;
    height: 600px;
    text-align: center;

}

/* footer */

footer{

}

.card{
    background-color: unset!important;
}
.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.social-media-container li a {
    color: #000;
    font-size: 30px;
}

/* home post */

.blog-post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-transform: capitalize;
    margin: 0px;
}

.post-container {
    margin: 20px;
    position: relative;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
    transition: .2s;
    max-height: 850px;
    max-width: 400px;
}

.post-image-link {
    text-decoration: none;
    color: #000;
}

.post-image {
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

.author-created {}

.title-description-container {}

.post-title {}

/* signup form */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 700px;
    margin: 50px;
}

.form {
    width: 700px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.form input,
textarea {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 700px;
}

.form-group {
    margin: 20px auto;
}


.input-area {
    border-radius: 0px;
    border: transparent;
    border-bottom: 1px solid #000;
}

.form-control {
    background-color: transparent;
}

/* delete button and cancel button */
.button-container {}

/* profile page */

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.profile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}


/* post detail page */
.post-detail-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 755px;
    border: 3px solid #000;
}

.post-detail-image {}

.post-image-detail {
    width: 750px;
    max-height: 1000px;
}

.post-text-container {
    text-align: center;
}

.post-text-container h2,
h3,
span {
    text-transform: capitalize;
}

/* comment section */
.comment.count {}

.badge {
    color: #000 !important;
    font-size: 20px;
}

.user-comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 3px solid;
}

.comment.content {}

.comment-profile-image {
    width: 100px;
    height: 100px;

}

.comment-content-name {}


/* Admin and staff page */
.admin-container{
    height: fit-content;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.info-card-container{
    width: 300px;
    height: 100px;
    background-color: #212529;
    color: #fff;
    padding: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.info-card {

}

.info-card-number{
    font-size: 40px;
    margin: unset!important;
    line-height: 1;
}
.info-card-title{}
.staff-container {}

.fa-solid {
    font-size: 35px;
}

/* post information */

.admin-post-information-button{
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table{}

.btn {
    width: 100px!important;
    text-transform: capitalize;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color)!important;
}