{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_superuser %}
<h1>Admin Page</h1>
<div class="container">
    <div class="info-container">
        <div class="info-card">
        <h4>Posts
            {{ posts }}
        </h4>
    </div>
    <div class="info-card">
        <h4>Users
            {{ users }}
        </h4>
    </div>
    <div class="info-card">
        <h4>Comments {{ comments }}</h4>
    </div>
    </div>
</div>
{% else %}
<div class="staff-container">
    <h2>This is a staff page</h1>
  </div>
{% endif %}

{% endblock content %}