{% extends 'base.html' %}
{% block content %}
<div class="container form-container">
    <h3>Delete Comment</h3>
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete this comment?</p>
        <p>{{ comment.content }} by {{ comment.user }}</p>
        <strong>This action cannot be undone</strong>
        <a href="{% url 'magazine:home' %}" class="btn btn-outline-dark">Cancel</a>
        <button class="btn btn-outline-dark" type="submit">Delete Comment</button>
    </form>
</div>

{% endblock %}