{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Delete Post</h1>
<div class="form-container">
<form class="form" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
<p>Are you sure you want to delete <span>{{ object }}</span>?</p>
<div class="button-container">
<button type="submit" value="Delete" class="btn btn-outline-dark">Delete</button>
<a href="{% url 'magazine:post_detail' object.pk object.slug %}" class="btn btn-outline-dark">Cancel</a>
</div>
</form>
</div>
{% endblock content %}