{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="post-detail-image">
    {% if object.image %}
      <img src="{{ object.image.url }}" alt="{{ object.title }}" class="post-image-detail">

      {% else %}

        <img src="{% static 'img/default-post.jpg' %}" alt="{{ object.title }}" class="post-image-detail">

        {% endif %}
</div>
<h1>Post Detail</h1>
<h3>{{ object.title }}</h3>
<h4>{{ object.article_description }}</h4>
<p>{{ object.content }}</p>
<span>{{ object.author }} | {{ object.post_created }}</span>
{% endblock content %}