{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Update Post</h1>
<div class="form-container">
<form class="form" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form_non_field_errors %}
    {{ error }}
    {% endfor %}
    {% endif %}

    {% for hidden in form_hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form %}
    {{ field.label_tag }}
    <div class="form-group">{{ field }}</div>
    {{ field.errors.as_ul }}
    {% endfor %}
    <input class="btn btn-outline-dark" type="submit" value="Update">

</form>
</div>
{% endblock content %}