{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Profile page</h2>
<h3>{{ user.username }}</h3>
<div class="profile-container">
   
    <div class="profile-picture">

            <img src="{{ profile.image.url }}" alt="{{ user.username }}" class="profile-image">
    </div>
    <h3>{{ user.username }}</h3>
    <p>{{ user.profile.bio }}</p>
    <div class="profile-links">
        <p><a class="btn btn-outline-dark" href="{% url 'magazine:edit_profile' %}">Edit Profile</a></p>
        <p><a class="btn btn-outline-dark" href="{% url 'magazine:password_change' %}">Change Password</a></p>
        <p><a class="btn btn-outline-dark" href="{% url 'magazine:user_posts' request.user.username %}">My Posts</a></p>
    </div>
</div>
{% endblock content %}