{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Profile page</h2>
<h3>{{ user.username }}</h3>
<div class="profile-container">
   
    <div class="profile-picture">
        {% if user.profile.image %}
            <img src="{{ profile.image.url }}" alt="{{ user.username }}">
        {% else %}
            <img src="{% static 'img/default-profile.png' %}" alt="{{ user.username }}">
        {% endif %}
    </div>
    <h3>{{ user.username }}</h3>
    <p>{{ user.bio }}</p>
    <div class="profile-links">
        <a href="#">Edit Bio</a>
        <p><a class="btn btn-outline-dark" href="{% url 'magazine:password_change' %}">Change Password</a></p>
        <a href="#">My Posts</a>
    </div>
</div>
{% endblock content %}